---
import weather from '../../public/weather.json';
import Paragraph from './Paragraph.astro';

interface Props {
  length?: number;
}

const { length } = Astro.props;

export const getIcon = (img: string) => {
  switch (img) {
    case '01d':
      return 'â˜€ï¸';
    case '02d':
      return 'â›…';
    case '03d':
      return 'ðŸŒ¥ï¸';
    case '04d':
      return 'â˜ï¸';
    case '09d':
      return 'ðŸŒ§ï¸';
    case '10d':
      return 'ðŸŒ¦ï¸';
    case '11d':
      return 'â›ˆï¸';
    case '13d':
      return 'â„ï¸';
    case '50d':
      return 'ðŸŒ«ï¸';
    default:
      return 'ðŸ’¥';
  }
};
---

{
  (() => {
    const items = weather.data.slice(0, length);
    const result = [];
    let bgCounter = 0;

    for (let i = 0; i < items.length; i++) {
      const item = items[i];

      result.push(
        <div class="w-full">
          <table class="w-full table-fixed">
            <tbody class="w-full">
              <tr
                class={`w-full ${bgCounter % 2 === 0 ? 'bg-gray-50' : ''} h-20`}
              >
                {item.ignore ? (
                  <td class="w-full px-2 py-2">
                    <b>ðŸ’¥ {item.city} is vernietegt</b>
                  </td>
                ) : <td class="w-auto px-2 py-2">
                  <b>
                    {`${getIcon(item.icon)} ${item.city}`}
                  </b>
                </td>
                <td class="px-2 py-2 text-right w-1/6">
                    <div>
                      <b>{item.maxTemp}Â°</b>
                      <br />
                      {item.minTemp}Â°
                    </div>
                </td>
                <td class="w-auto px-2 py-2">
                  <span set:html={item.desc} />
                </td>
                }
              </tr>
            </tbody>
          </table>
        </div>
      );

      bgCounter++;

      // Insert ad after every 11 items
      if ((i + 1) % 11 === 0 && i !== items.length - 1) {
        const adIndex = Math.floor(i / 11);
        result.push(<Paragraph ad={adIndex % 2 === 0 ? 'shop-img' : 'shop'} />);
        bgCounter = 0; // Reset background counter after ad
      }
    }

    return result;
  })()
}
